
.conversation-content{
    height: 480px;
}



/* 메시지 컨테이너 스타일 */
.message-wrapper {
    display: flex;
    justify-content: flex-start; /* 모든 메시지를 좌측 정렬로 변경 */
    width: 100%;
}

/* 사용자 메시지 스타일 유지 */
.user-message {
    justify-content: flex-end; /* 사용자 메시지를 오른쪽에 정렬 */
    flex-direction: row-reverse; /* 이미지를 오른쪽에 배치 */
    margin-left: auto; /* 사용자 메시지를 오른쪽으로 밀어붙임 */
}

/* 봇 메시지 스타일 조정 */
.bot-message {
    justify-content: flex-start; /* 봇 메시지를 왼쪽에 정렬 */
    flex-direction: row; /* 이미지를 왼쪽에 배치 */
    align-items: center; /* 메시지와 시간을 가운데 정렬 */
}

/* 봇 메시지 시간 스타일 조정 */
.bot-message .message-time {
    font-size: 12px;
    position: absolute; /* 시간 위치 조정 */
    bottom: 0;
    right: -80px; /* 메시지의 오른쪽 바깥에 위치하도록 조정 */
    white-space: nowrap; /* 줄바꿈 없이 한 줄로 표시 */
}

.user-message, .bot-message {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}


.user-message .message-time {
    font-size: 12px;
}




.bot-message span, .bot-message .message-time {
    margin-right: 8px; /* 요소들 사이의 간격 */
}


.message-time {
    font-size: 10px;
    color: black;
    margin-left: 8px; /* 시간과 텍스트 사이의 간격 */
    white-space: nowrap; /* 줄바꿈 없이 한 줄로 표시 */
}

.user-message .profile-image, .bot-message .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.user-message .profile-image {
    margin-left: 10px; /* 사용자 이미지와 텍스트 사이의 간격 */
}

.bot-message .profile-image {
    margin-right: 10px; /* 봇 이미지와 텍스트 사이의 간격 */
}

/* 메시지 텍스트 스타일 */
.user-message span, .bot-message span {
    max-width: 60%;
    padding: 8px;
    border-radius: 15px;
    font-size: 14px;
    line-height: 1.4;
}

.user-message .content-item {
    background-color: #007bff; /* 사용자 메시지 배경색 */
    color: white; /* 사용자 메시지 글자색 */
}

.bot-message .bot-item{
    background-color: #f1f0f0; /* 봇 메시지 배경색 */
    color: #333; /* 봇 메시지 글자색 */
}




/* 스크롤 가능한 대화 내용 영역 */
.conversation-content {
    overflow-y: auto;
    max-height: 500px;
    padding: 15px;
    background-color: white;
}

.saved-date {
    text-align: center;
    margin-bottom: 20px;
    font-size: 0.8em;
    color: #666;
    background-color: transparent;
}



