#content {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 80px;
  }

  .col-100{
    height: 100px;
    width: 100px;
  }

  .custom-link {
    color: black; /* 링크의 색상을 검정색으로 변경 */
    text-decoration: none; /* 링크 밑줄 제거 */
  }
  
  .custom-link:hover {
    text-decoration: underline; /* 링크에 마우스를 올렸을 때 밑줄 표시 */
  }
  .ct1{
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    
  }

  .ct2{
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    
  }

  .sbt{
    font-size: 20px;
  }

  mark {
    background-color: #E8FD8D; 
  }
  
  /* 모바일 뷰 */
.content-section {
  margin-bottom: 5px; /* 기본 간격 */
}

/* 태블릿 이상의 너비에서 적용 */
@media (min-width: 768px) {
  .content-section {
    margin-bottom: 25px; /* 화면이 넓을 때 더 큰 간격 */
  }
}

/* 데스크탑 이상의 너비에서 적용 */
@media (min-width: 1024px) {
  .content-section {
    margin-bottom: 45px; /* 더 넓은 화면에서 더 큰 간격 */
  }
}


  .review-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 원하는 라인 수 */
    -webkit-box-orient: vertical;
  }
  
  .review-text.expanded {
    -webkit-line-clamp: none;
  }

/*키워드 및 카테고리 css 시작  */
  .status-card {
    transition: transform 0.2s; /* 애니메이션 효과 */
  }
  
  .status-card:hover {
    transform: scale(1.05); /* 마우스 호버 시 카드 확대 */
    box-shadow: 0 0 10px rgba(0,0,0,0.15); /* 그림자 효과 */
  }
  
  .active-card {
    background-color:black; /* 활성 카드 배경색 변경 */
    color: white; /* 활성 카드 텍스트 색상 변경 */
  }
  
  .active-card .card-text {
    color: white;
  }

/*키워드 및 카테고리 css 시작  */


  /* 함께좋은 상품 css 시작 */
  .inventory-card {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border: none;
    transition: transform 0.3s ease-in-out;
  }
  
  .inventory-card:hover {
    transform: translateY(-5px);
  }
  
  .inventory-card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    min-height: 4rem; /* Set a minimum height for the text box */
  }
  
  .inventory-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .inventory-image {
    height: 150px; /* Set a fixed height for images */
    object-fit: cover;
    border-bottom: 1px solid #ddd; /* Optional: add a border below the image */
  }
  
  @media (max-width: 768px) {
    .inventory-image {
      height: 150px; /* Adjust the height for mobile */
    }
  }

    /* 함께좋은 상품 css 끝 */