.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.chat-icon {
  position: fixed;
  bottom: 80px;
  right: 80px;
  cursor: pointer;
  /* 추가적인 스타일링 */
  width: 100px;
  height: auto;
  z-index: 1000;
  background-color: black;
  border-radius: 50px;
}

.chatbot-container {
  position: fixed;
  right: 60px;
  bottom: 170px; /* 아이콘 위에 나타나도록 조정 */
  z-index: 1000; /* 로고 위에 오도록 z-index를 높게 설정 */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
